@{
	ViewData["Title"] = "	Login";

	@model LoginModel;
}


<head>
	<link rel="stylesheet" href="~/css/style4signUp.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body class="img js-fullheight" style="background-image: url(@Url.Content( "~/img/loggin.jpg"));">
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Login</h3>
						@if (!string.IsNullOrEmpty(ViewBag.Message))
						{
							<div class="alert alert-success alert-dismissible mt-4" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								@ViewBag.Message
							</div>
						}
						@if (TempData["ErrorMessage"] != null)
						{
							<div class="alert alert-danger alert-dismissible mt-4" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								@TempData["ErrorMessage"]
							</div>
						}
						@if (!ViewData.ModelState.IsValid)
						{
							<div class="alert alert-danger mt-4" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<ul>
									@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
									{
										<li style="color:black">@error.ErrorMessage</li>
									}
								</ul>
							</div>
						}
						<form action="@Url.Action("LoginPage", "Login")" method="post" class="signin-form">

							@Html.AntiForgeryToken()

							

							<div class="form-group">
								@Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
							</div>
							<div class="form-group">
								@Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">
										Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
							</div>
						</form>
						<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
						<div class="social d-flex text-center">
							<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
							<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/main.js"></script>

</body>
